<!DOCTYPE html>

{% extends 'first/base.html' %}

<html lang="ru">

<head>
    {% block title %}Event map{% endblock %}
</head>

<body>
{% block content %}

    <div class="block_registration">
        <div class="signin_reg"><a href="{% url 'signin' %}">SIGN IN</a></div>
        <p class="line"></p>
        <div class="register_reg"><a href="{% url 'register' %}">REGISTER</a></div>
    </div>

    <div class="main_menu">
        <ul>
            <li><a href="{% url 'stipot' %}">STIPOT</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'eventmap' %}" class="active-button">EVENT MAP</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'partners' %}">PARTNERS</a></li>
        </ul>
    </div>

    <div class="block_logo_categ">
        <img src="../../static/images/image_category.png" alt="logo">
        <div class="text_logo">EVENT MAP</div>
    </div>

{% endblock %}
</body>
</html>