<!DOCTYPE html>

{% extends 'first/base.html' %}

<html lang="ru">

<head>
    {% block title %}Partners{% endblock %}
</head>

<body>
{% block content %}

    <div class="block_registration">
        <div class="signin_reg"><a href="{% url 'signin' %}">SIGN IN</a></div>
        <p class="line"></p>
        <div class="register_reg"><a href="{% url 'register' %}">REGISTER</a></div>
    </div>

    <div class="main_menu">
        <ul>
            <li><a href="{% url 'stipot' %}">STIPOT</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'eventmap' %}">EVENT MAP</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'partners' %}" class="active-button">PARTNERS</a></li>
        </ul>
    </div>

    <div class="block_logo_categ">
        <img src="../../static/images/image_category.png" alt="logo">
        <div class="text_logo">PARTNERS</div>
    </div>

    <div class="partners_content">
        <div class="block_partners">
            <div class="int_part">
                <div class="text_int_part">
                    <span>INTERNATIONAL</span> PARTNERS
                </div>
                <div class="img_int_part">
                    <a href="http://www.bsec-organization.org/Pages/homepage.aspx" target="_blank"><img
                            src="../../static/images/bsec.png" alt=""></a>
                </div>
            </div>
            <div class="nat_part">
                <div class="text_nat_part">
                    <span>NATIONAL</span> PARTNERS
                </div>
                <div class="img_nat_part">
                    <a href="https://xn--80abucjiibhv9a.xn--p1ai/" class="first_logo" target="_blank"><img
                            src="../../static/images/rossot.png" alt=""></a>
                    <a href="http://rs.gov.ru/ru" class="second_logo" target="_blank"><img
                            src="../../static/images/min_obr_i_nauki.png" alt=""></a>
                    <a href="https://www.tubitak.gov.tr/" class="third_logo" target="_blank"><img
                            src="../../static/images/tubitak.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>